*
!.gitignore
!/catalog/
!/catalog/seed/
!/catalog/seed/categories/
!/catalog/seed/categories/*.png
!/catalog/seed/groups/
!/catalog/seed/groups/*.png
!/catalog/seed/products/
!/catalog/seed/products/*.png
